// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 14px;
$v-font-weight: 300;
$contrast: 1;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
$v-border: 1px solid (v-shade 2.7);
$v-border-radius: 3px;
//$v-unit-size: 20px;
// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: rgb(255, 255, 255);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
$v-app-background-color: hsl(64, 13%, 89%); //rgb(200,200,200);//$v-background-color;
//$v-font-family: "Courier Family", Courier Regular; //Impact
$v-font-family: "Impact Family", Impact;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
$v-font-family--h1: 10em;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-layout-margin-top: round(10);
@import "../valo/valo.scss";
$v-layout-margin-bottom: round(25);
$textcolor: hsl(82, 216%, 38%);
.v-button-caption {
  color: $textcolor;
  font-size: $v-font-size;
}

@mixin mytheme {
  @include valo;
  // Insert your own theme rules here
  $v-textfield-background-color: if(is-dark-color($v-app-background-color), darken($v-app-background-color, 20%), lighten($v-app-background-color, 20%));
  $v-layout-margin-top: round(10);
  $v-layout-margin-bottom: round(1);
  $v-layout-spacing-horizontal: round($v-unit-size/1)
}
